<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小花专属策略</title>
        <style>
        form span {
            margin-left: 10px;
        }
        #valueInput {
            text-align: right;
        }
        #errorMsg {
            color: red;
        }
        #strategy {
            border-collapse: collapse;
        }
        #strategy td {
            border: 1px solid;
            padding: 4px 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<script>
function on_strategy_dbzt_submit() {
  document.body.style.cursor = 'wait'
  document.getElementById('strategy_dbzt').submit();
}
function on_strategy_dblz_submit() {
  document.body.style.cursor = 'wait'
  document.getElementById('strategy_dblz').submit();
}
</script>
<table id="strategy">
    <tbody>
    <tr>
        <td>策略</td>
        <td>参数</td>
        <td>查询</td>
    </tr>
    <tr>
        <td>底部涨停</td>
        <td>
            <form id="strategy_dbzt" method="post" action="eric_dbzt">
                <br>
                <span>
                    <label for="strategy_dbzt_window_start"> 哪一天以后的最低价？ </label>
                    <input id="strategy_dbzt_window_start" type="date" name="strategy_dbzt_window_start" value="{{strategy_dbzt_window_start}}">
                </span>
                <br>
                <span>
                    <label for="strategy_dbzt_min_up_pct"> 最低价上浮多少百分比？ </label>
                    <input id="strategy_dbzt_min_up_pct" type="text" name="strategy_dbzt_min_up_pct" value="{{strategy_dbzt_min_up_pct}}">
                    <label for="strategy_dbzt_min_up_pct"> % </label>
                </span>
                <br>
                <span>
                    <label for="strategy_dbzt_happen_in_days"> 涨停发生在最近多少天？ </label>
                    <input id="strategy_dbzt_happen_in_days" type="text" name="strategy_dbzt_happen_in_days" value="{{strategy_dbzt_happen_in_days}}">
                </span>
                <br>
                <span>
                    <label for="strategy_dbzt_jbm_rank"> 基本面排名前多少位？（注：耗时计算） </label>
                    <input id="strategy_dbzt_jbm_rank" type="text" name="strategy_dbzt_jbm_rank" value="{{strategy_dbzt_jbm_rank}}">
                </span>
            </form>
        </td>
        <td>
            <span>
                <input id="strategy_dbzt_submit" type="button" value="执行" onclick="on_strategy_dbzt_submit()">
            </span>
        </td>
    </tr>
        <tr>
        <td>底部连涨</td>
        <td>
            <form id="strategy_dblz" method="post" action="eric_dblz">
                <br>
                <span>
                    <label for="strategy_dblz_window_start"> 哪一天以后的最低价？ </label>
                    <input id="strategy_dblz_window_start" type="date" name="strategy_dblz_window_start" value="{{strategy_dblz_window_start}}">
                </span>
                <br>
                <span>
                    <label for="strategy_dblz_min_up_pct"> 最低价上浮多少百分比？ </label>
                    <input id="strategy_dblz_min_up_pct" type="text" name="strategy_dblz_min_up_pct" value="{{strategy_dblz_min_up_pct}}">
                    <label for="strategy_dblz_min_up_pct"> % </label>
                </span>
                <br>
                <span>
                    <label for="strategy_dblz_happen_min_days"> 连涨多少天？ </label>
                    <input id="strategy_dblz_happen_min_days" type="text" name="strategy_dblz_happen_min_days" value="{{strategy_dblz_happen_min_days}}">
                </span>
                <br>
                <span>
                    <label for="strategy_dblz_happen_in_days"> 连涨发生在最近多少天？ </label>
                    <input id="strategy_dblz_happen_in_days" type="text" name="strategy_dblz_happen_in_days" value="{{strategy_dblz_happen_in_days}}">
                </span>
                <br>
                <span>
                    <label for="strategy_dblz_jbm_rank"> 基本面排名前多少位？（注：耗时计算） </label>
                    <input id="strategy_dblz_jbm_rank" type="text" name="strategy_dblz_jbm_rank" value="{{strategy_dblz_jbm_rank}}">
                </span>
            </form>
        </td>
        <td>
            <span>
                <input id="strategy_dblz_submit" type="button" value="执行" onclick="on_strategy_dblz_submit()">
            </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>